

#order {
  margin-left: 150px;
}
#welcome {
  text-align: center;
  font-family: 'Autour One';font-size: 80px;
  text-shadow: 1px 1px black;
  padding: 200px;
  text-align:justify;
  background: #66a3ff;
  color: white;
  padding-bottom: 70px;
  margin-bottom: 10px;
  background-image: url(../img/pizza4.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.slides {
  height: 80%;
  width: 100%;

}
#nextpage, .menu, .details {
  display: none;
}
.navbar {
    overflow: hidden;
    background-color: skyblue;
    font-family: 'Autour One';
    font-size: 20px
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: red;
}

p {
  font-family: 'Aclonica'; font-size: 50px;
  font-style: italic;
  color: black;
  text-shadow: 1px 1px white;


}
#welcome, .firstname, .lastname, .address{
    animation:blinkingText 1.0s infinite;

}
@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: white;    }
}


body {
  background-color: #e6e6e6;
}
.images {
  height: 200px;
  width: 300px;
}
.images:hover {
  transform: scale(1.1);
}
h2, .details {
  font-family: 'Autour One';
}
